header {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to bottom right, #029cd8, #fff);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    font-size: 1.8em;

    font-family: sans-serif;
    height: 100px;
}