#amarelo {
    color: yellow;
}

#vermelho {
    color: red;
}

#azul {
    color: blue;
}

#marron {
    color: brown;
}

#violeta {
    color: purple;
}

img {
    width: 200px;
    height: 200px;
}