@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

* {
  box-sizing: border-box;
}

#button-form {
  width: 30%;
  height: 50px;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  width: 100%;
}

.container-destinos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 15px;
}

.destinos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: #6d3aa5;
  background-color: #e5d4ff;

  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  max-width: 200px;
  transition: 0.2s;
}

img {
  width: 80%;
  height: 100px;
  border-radius: 8px;
}

button {
  font-weight: bold;
  background-color: #8fd620;
  width: 50%;

  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Nova Square", sans-serif;
}

button:hover {
  background-color: #487747;
  transform: translate(0, 10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ul {
  list-style: none;
}

ul li:before {
  content: "✓";
  margin-right: 5px;
}

@media (max-width: 1200px) {
  .container-destinos {
    flex-direction: column;
    height: auto;
  }

  .roteiros-viagens {
    width: 20vw;
  }
}

.form {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.form input,
.form select {
  width: 50%;
  font-size: 16px;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid #666;
  outline: none;
}

.form #send{
  width: 25%;
  height: 30px;
}
