.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    height: 80vh;
    border-radius: 15px;
    padding: 30px;

    box-shadow: 0px 0px 4px 0px #949494d5;

    h1 {
        text-align: center;
    }

    #form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 90%;

        .input-group {
            display: flex;
            gap: 25px;
        }

        label {
            display: flex;
            flex-direction: column;
            width: 45%;
            gap: 5px;

            input,
            select {
                border: 1px solid #aaa;
                border-radius: 5px;
                padding: 10px;
                font-size: 16px;

                outline: none;
            }

            span {
                font-size: 14px;
                color: #FB9696;
            }
        }

        button {
            padding: 13px 90px;
            font-size: 16px;
            border-radius: 30px;

            border: none;
            background-color: #6285E0;
            color: #fff;
            cursor: pointer;

            &:hover {
                background-color: #90A6E0;
            }
        }
    }
}